$gray-600: #737B7D;
$gray: $gray-600;
$font-family-sans-serif: "Mulish", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$border-radius: 0;

$sm: 756px;
$md: 750px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $sm,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

$container-padding-x: 1rem;
$container-max-xxl: 1200px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: $container-max-xxl
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5
);

$section-padding-y: 24px;

// css variables
:root {
	--swiper-theme-color: #000000;
	--swiper-navigation-size: 25px;
}
